/* ReaderRegister.module.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

html::before {
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%) no-repeat;
}

::selection {
    color: #fff;
    background-color: rgb(144, 129, 241);
}

.box {
    display: flex;
    overflow: hidden;
    width: 100rem;
    height: 70rem;
    background-color: rgba(255, 255, 255, 60%);
    border-radius: 1.5rem;
    margin: 10% auto;
    box-shadow: 0 0 1rem 0.2rem rgb(0 0 0 / 10%);
}

.left {
    position: relative;
    width: 35%;
    height: 100%;
    background-color: skyblue;
    background-size: cover;
    background-position: center;
    border-radius: 1.5rem 0 0 1.5rem;
}

.left::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/register.jpg'); /* 确保路径正确 */
    background-size: cover;
    opacity: 80%;
}

.right {
    display: flex;
    flex-direction: column;
    width: 65%;
    align-items: center;
    background-color: #f6f9fc;
    border-radius: 0 1.5rem 1.5rem 0;
    text-align: center;
    padding: 50px;
}

h1 {
    color: rgb(144, 129, 241);
    font-size: 5rem;
    margin-top: 5rem;
}

p {
    color: rgb(100, 100, 100);
    font-size: 1.5rem;
    margin-top: 1rem;
}
.box .right h4 {
    color: rgb(144, 129, 241);
    font-size: 3rem;
    margin-top: 5rem;
}

.inputField {
    display: block;
    margin: 5px; /* 减小文本框之间的距离 */
    padding: 10px;
    width: 136.5%;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-left: -40px; /* 水平左移 */
}

.inputContainer {
    position: relative;
    display: flex;
    align-items: center;
    margin: 5px auto; /* 减小文本框之间的距离 */
    width: 80%;
}

.eyeIcon {
    position: absolute;
    right: 2rem;
    top: 53%; /* 调整上边距 */
    transform: translateY(-50%);
    cursor: pointer;
    color: rgb(86, 60, 234); /* 深一点的颜色 */
    font-size: 1.5rem; /* 大一点的字号 */
}

.sendCodeButton {
    margin: 10px;
    padding: 10px 20px;
    width: 100%;
    font-weight: bold;
    height: 4rem;
    color: #5057d5;
    background-image: linear-gradient(120deg, #a1ffce 0%, #faffd1 100%);
    font-size: 1.3rem;
    border: none;
    border-radius: 0.5rem;
    margin: 10px 0;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.submit {
    width: 100%;
    font-weight: bold;
    height: 3rem;
    color: #5057d5;
    background-image: linear-gradient(120deg, #a1ffce 0%, #faffd1 100%);
    font-size: 1.6rem;
    border: none;
    border-radius: 0.5rem;
    margin: 10px 0;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.submit:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.submit:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.fnButton {
    width: 40%;
    font-weight: bold;
    height: 4rem;
    color: #9e9d97;
    background-image: linear-gradient(120deg, #a1ffce 0%, #faffd1 100%);
    font-size: 1.6rem;
    border: none;
    border-radius: 0.5rem;
    margin: 10px 0;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
